@media only screen and (max-width: 767px) {
    /* Styles for devices with a maximum width of 767px */
	.our-mission-vision,
	.analytics-area,
	.about-us-content,
    .index-hero,
    .after-hero-section,
    .statements,
    .who-we-are-part,
    .is-action,
    .flex,
    .new-pillars,
    .footer-elements,
    .footer-logos,
    .centered,
	.is-news{
        display:block !important;
    }
	.news-item{
		margin:0 !important;
		margin-block:50px !important;
	}
	.news-container{
		width:100% !important;
	}
    .statements,
    .who-we-are-part,
    .call-to-action,
    .new-pillars,
    .our-pillars{
        flex-direction: column !important;
        /* border: 15px solid red; */
        height:100% !important;
    }
    .statement-1,
    .statement-2,
    .statement-3{
        margin:15px;
        width:90%;
        border:5px solid whitesmoke;
        padding:3%;
    }

    .call-to-action{
        padding:40px;
    }
    .nav-bar{
        margin:0;
        display:none;
    }
    .hero-text,
    .statements,
    .who-we-are-part{
        margin:0;
        width:100%;
        margin-left:0 !important;
        margin-right:0 !important;
    }
    .welcome-text{
        padding:6%;
    }
    .welcome-text span{
        font-size:40px;
    }

    .welcome-write-up{
        padding:5%;
        width:100% !important;
    }
    
    .side-area,
	.who-image-1,
    .is-pillars,
    .footer-element-1,
    .footer-element-2,
    .footer-element-3,
    .footer-element-4,
	.news-item{
        width:100% !important;
    }
    .action-item{
        border-right:none !important;
        border-bottom:5px solid black;
    }
    .footer-element-1,
    .footer-element-2,
    .footer-element-3,
    .footer-element-4{
        margin-block:50px;
        margin-right:0;
        padding:20px;
    }
	
	.welcome-text .sp-1 {
		color:green !important;
	}
    
	.welcome-text .sp-3 {
		color:red !important;
	}
	
	.welcome-text .sp-3 {
		
	}
	
	.welcome-text .sp-3 {
		
	}
	
	.news-item{
		height:100% !important;
	}
	.about-us-content{
		margin-bottom:50px;
	}
	.image-area{
		height:30vh;
		width:95%;
		flex:auto;
		margin-top:20px;
	}
	
	.analytics-area{
		width:95%;
		margin-top:20px;
	}
	
	.analytics{
		display:flex !important;
		justify-content:space-around;
		width:100%;
	}
	
	.our-mission-vision{
		height:100%;
		margin-right:0;
		margin-left:0;
		
	}
	
	.about-mission-statement{
		margin-right:0;
		width:95%;
		padding:10px;
		margin-bottom:20px;
	}
	.about-vision-statement{
		margin-left:0;
		padding:10px;
		width:95%;
	}
	
	.div-tails h2{
		font-size:20px !important;
		width:100% !important;
	}
	
	.pillar-text h1{
		font-size:50px;
		padding:20px;
	}
}